.district-results h1 {
    margin-top: 0;
}
.district-results > article > h1 {
    padding: 0.4em 1.0em;
    background-color: #666;
    color: white;
}
.district-results h1 a {
    display: block;
    padding: 0.4em 1.0em;
    background-color: #444;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#555), to(#444));
    background-image: -webkit-linear-gradient(top, #555, #444);
    background-image: -moz-linear-gradient(top, #555, #444);
    background-image: -ms-linear-gradient(top, #555, #444);
    background-image: -o-linear-gradient(top, #555, #444);
    font-size: 2.0em;
    color: white;
    text-decoration: none;
}
.district-results h1 a:hover,
.district-results h1 a:focus {
    background-color: #333;
    background-image: none;
}
.district-results.ward > article > h1 {
    background-color: #AAA;
    font-size: 1.4em;
}
.district-results.ward h1 a {
    background-color: #888;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#999), to(#888));
    background-image: -webkit-linear-gradient(top, #999, #888);
    background-image: -moz-linear-gradient(top, #999, #888);
    background-image: -ms-linear-gradient(top, #999, #888);
    background-image: -o-linear-gradient(top, #999, #888);
    font-size: 1.0em;
}
.district-results.ward h1 a:hover,
.district-results.ward h1 a:focus {
    background-color: #777;
    background-image: none;
}
.ballot-item-results {
    margin-top: 0.1em;
    padding: 1.5em;
    background-color: #EEE;
    text-align: center;
}
@media all and (max-width: 640px) {
    .ballot-item-results,
    .info {
        font-size: 2.0em;
    }
    .info h1,
    .info p {
        white-space: nowrap;
    }
}
.ballot-item-results li,
.ballot-item-results dt,
.ballot-item-results dd,
.ballot-item-results table,
.ballot-item-results .graph {
    margin-left: auto;
    margin-right: auto;
}
.ballot-item-results > *:first-child,
.info > *:first-child {
    margin-top: 0;
}
.ballot-item-results h1 {
    font-size: 2.6em;
}
.ballot-item-results th,
.ballot-item-results td {
    padding: 0.4em 0.8em 0.3em 0.4em;
}
.ballot-item-results table .votes,
.ballot-item-results table .percent {
    padding-left: 0.8em;
    padding-right: 0.8em;
    text-align: center;
}
.ballot-item-results td.votes,
.ballot-item-results td.percent {
    text-align: right;
}
.ballot-item-results .option .graph-swatch {
    width: 0.8em;
    height: 0.8em;
    display: inline-block;
    *float: left;
    margin-right: 0.3em;
    background-color: #AAA;
}
.ballot-item-results th.option .graph-swatch {
    display: none;
}
.ballot-item-results .winner td {
    background-color: rgba(0, 0, 0, 0.1);
    font-weight: bold;
}
.ballot-item-results .graph {
    max-width: 400px;
    overflow: hidden;
    background-color: transparent;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(transparent), to(#000));
    background-image: -webkit-linear-gradient(top, transparent, #000);
    background-image: -moz-linear-gradient(top, transparent, #000);
    background-image: -ms-linear-gradient(top, transparent, #000);
    background-image: -o-linear-gradient(top, transparent, #000);
    -moz-border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
    border-radius: 0.5em;
}
@media all and (max-width: 640px) {
    .ballot-item-results .graph {
        max-width: 700px;
    }
}
.ballot-item-results .graph .result {
    position: relative;
    height: 3.0em;
    float: left;
    clear: none;
    margin: 0 0 0 -1px;
    background-color: #AAA;
    border-left: 1px solid #666;
    font-size: 1.0em;
    color: white;
    text-align: left;
    list-style: none;
    text-indent: -999em;
}
.ballot-item-results .graph .result {
    opacity: 0.8;
}
.ballot-item-results .result:nth-child(n) .graph-swatch,
.ballot-item-results .graph .result:nth-child(n) {
    margin-left: 0;
    border-left: none;
}
.ballot-item-results .result:nth-child(12n+1) .graph-swatch,
.ballot-item-results .graph .result:nth-child(12n+1) {
    background-color: #863C86;
}
.ballot-item-results .result:nth-child(12n+2) .graph-swatch,
.ballot-item-results .graph .result:nth-child(12n+2) {
    background-color: #FDD71C;
}
.ballot-item-results .result:nth-child(12n+3) .graph-swatch,
.ballot-item-results .graph .result:nth-child(12n+3) {
    background-color: #CA3357;
}
.ballot-item-results .result:nth-child(12n+4) .graph-swatch,
.ballot-item-results .graph .result:nth-child(12n+4) {
    background-color: #5C69B5;
}
.ballot-item-results .result:nth-child(12n+5) .graph-swatch,
.ballot-item-results .graph .result:nth-child(12n+5) {
    background-color: #6BAE22;
}
.ballot-item-results .result:nth-child(12n+6) .graph-swatch,
.ballot-item-results .graph .result:nth-child(12n+6) {
    background-color: #0BC0E7;
}
.ballot-item-results .result:nth-child(12n+7) .graph-swatch,
.ballot-item-results .graph .result:nth-child(12n+7) {
    background-color: #F31A38;
}
.ballot-item-results .result:nth-child(12n+8) .graph-swatch,
.ballot-item-results .graph .result:nth-child(12n+8) {
    background-color: #EA5F02;
}
.ballot-item-results .result:nth-child(12n+9) .graph-swatch,
.ballot-item-results .graph .result:nth-child(12n+9) {
    background-color: #D483C9;
}
.ballot-item-results .result:nth-child(12n+10) .graph-swatch,
.ballot-item-results .graph .result:nth-child(12n+10) {
    background-color: #31820D;
}
.ballot-item-results .result:nth-child(12n+11) .graph-swatch,
.ballot-item-results .graph .result:nth-child(12n+11) {
    background-color: #5A13EB;
}
.ballot-item-results .result:nth-child(12n+12) .graph-swatch,
.ballot-item-results .graph .result:nth-child(12n+12) {
    background-color: #11D0AA;
}
.ballot-item-results footer {
    margin-top: 1.2em;
}
.ballot-item-results footer p {
    margin-top: 0.2em;
    font-size: 1.2em;
    color: #666;
}
.info {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    padding: 1.0em 3.0em;
    background-color: #AAA;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#BBB), to(#AAA));
    background-image: -webkit-linear-gradient(top, #BBB, #AAA);
    background-image: -moz-linear-gradient(top, #BBB, #AAA);
    background-image: -ms-linear-gradient(top, #BBB, #AAA);
    background-image: -o-linear-gradient(top, #BBB, #AAA);
    -moz-border-radius: 0.8em;
    -webkit-border-radius: 0.8em;
    border-radius: 0.8em;
    -moz-box-shadow: 0 1.0em 1.0em rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 1.0em 1.0em rgba(0, 0, 0, 0.2);
    box-shadow: 0 1.0em 1.0em rgba(0, 0, 0, 0.2);
}
.info h1,
.info p {
    margin-top: 0;
}
.info canvas.marker {
    position: absolute;
    left: 0;
}
.ballot-item-results .footer {
    margin-top: 2.0em;
    font-size: 0.8em;
}
.ballot-item-results .footer p {
    margin-top: 0.5em;
}
