body {
    background-color: white;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#EEE), to(white));
    background-image: -webkit-linear-gradient(top, #EEE, white);
    background-image: -moz-linear-gradient(top, #EEE, white);
    background-image: -ms-linear-gradient(top, #EEE, white);
    background-image: -o-linear-gradient(top, #EEE, white);
    font-family: Arial, sans-serif;
    font-size: 62.5%;
    color: black;
    text-align: center;
}
noscript,
.embed {
    margin-left: auto;
    margin-right: auto;
}
noscript {
    width: 85%;
    display: block;
    margin-bottom: 2.0em;
    font-size: 0.9em;
}
noscript p,
noscript p a {
    color: #888;
}
body.javascript-enabled noscript {
    display: none;
}
h1,
p,
ul,
ol,
dl,
table,
img {
    margin-top: 1.0em;
}
h1,
p,
li,
dt,
dd,
th,
td {
    font-size: 1.6em;
    line-height: 1.4;
}
h1,
h1 a {
    color: #333;
}
h1 {
    font-size: 1.8em;
    font-weight: bold;
}
h1 a {
    text-decoration: none;
}
h1 a:hover,
h1 a:focus {
    text-decoration: underline;
}
li,
dt,
dd {
    margin-top: 0.5em;
}
li {
    margin-left: 0.5em;
    list-style-position: inside;
}
ol li {
    list-style-type: decimal;
}
ul li {
    list-style-type: disc;
}
li ul,
li ol {
    margin-top: 0;
}
li li {
    font-size: 1.0em;
}
th,
td {
    padding: 0.4em;
    border: 1px solid #888;
    border-top: none;
    border-left: none;
}
th:last-child,
td:last-child {
    border-right: none;
}
th {
    font-size: 1.2em;
    color: #555;
}
tr:last-child td {
    border-bottom: none;
}
a {
    color: #333;
    text-decoration: underline;
}
a:hover,
a:focus {
    color: #222;
}
strong {
    font-weight: bold;
}
em {
    font-style: italic;
}
#elections {
    width: 960px;
    overflow: hidden;
    margin: 0 auto;
}
#introduction,
#live-broadcast,
#results,
#sidebar,
#meta {
    overflow: hidden;
    padding: 0 1.0em;
    _padding-left: 9px;
    _padding-right: 9px;
}
#introduction,
#live-broadcast,
#results {
    width: 590px;
    float: left;
}
@media all and (min-height: 875px) and (min-width: 991px) {
    body.javascript-enabled #meta {
        width: 590px;
        float: left;
    }
}
#introduction,
#live-broadcast,
#results,
#meta {
    clear: both;
}
#introduction {
    margin-bottom: 3.0em;
    text-align: left;
}
#introduction > * {
    padding-right: 1.0em;
}
#introduction h1 {
    font-size: 4.6em;
}
#live-broadcast {
    margin-bottom: 2.0em;
}
#sidebar {
    width: 330px;
    padding-bottom: 1.0em;
}
#sidebar h1,
#sidebar p,
#sidebar li {
    line-height: 1.2;
}
#sidebar li {
    margin-top: 0.6em;
    margin-left: 0;
    list-style: none;
}
#sidebar li li {
    margin-top: 0.4em;
    margin-left: 1.0em;
}
#channel-17-town-meeting-television-logo {
    width: 270px;
    height: 81px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background: transparent url(/images/channel-17-town-meeting-television-outer-glow-270x81.png) no-repeat center center;
    text-indent: -999em;
}
#sidebar header,
#sidebar nav,
#live-blog {
    position: relative;
    overflow: hidden;
    padding: 0.1em 1.0em 1.0em;
    background-color: #BBB;
    font-size: 1.0em;
    -moz-box-shadow: 0 2px 2px #AAA;
    -webkit-box-shadow: 0 2px 2px #AAA;
    box-shadow: 0 2px 2px #AAA;
    z-index: 5;
}
#sidebar header {
    padding-bottom: 2.0em;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#AAA), to(#BBB));
    background-image: -webkit-linear-gradient(top, #AAA, #BBB);
    background-image: -moz-linear-gradient(top, #AAA, #BBB);
    background-image: -ms-linear-gradient(top, #AAA, #BBB);
    background-image: -o-linear-gradient(top, #AAA, #BBB);
}
#sidebar nav {
    margin-left: -0.8em;
    margin-right: -0.8em;
    padding-left: 1.8em;
    padding-right: 1.8em;
    background-color: #444;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#555), to(#444));
    background-image: -webkit-linear-gradient(top, #555, #444);
    background-image: -moz-linear-gradient(top, #555, #444);
    background-image: -ms-linear-gradient(top, #555, #444);
    background-image: -o-linear-gradient(top, #555, #444);
    border-bottom: 1px solid #999;
    text-align: left;
}
#sidebar nav#nav-results {
    padding-bottom: 2.0em;
    z-index: 6;
}
#sidebar nav#nav-tools {
    padding-bottom: 1.8em;
    background-color: #666;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#777), to(#666));
    background-image: -webkit-linear-gradient(top, #777, #666);
    background-image: -moz-linear-gradient(top, #777, #666);
    background-image: -ms-linear-gradient(top, #777, #666);
    background-image: -o-linear-gradient(top, #777, #666);
    z-index: 7;
}
#nav-results,
#nav-tools,
#live-blog {
    -moz-border-radius: 1.0em;
    -webkit-border-radius: 1.0em;
    border-radius: 1.0em;
}
#nav-results {
    -moz-border-radius-bottomleft: 0;
    -webkit-border-bottom-left-radius: 0;
    border-bottom-left-radius: 0;
    -moz-border-radius-bottomright: 0;
    -webkit-border-bottom-right-radius: 0;
    border-bottom-right-radius: 0;
}
#nav-tools,
#live-blog {
    -moz-border-radius-topleft: 0;
    -webkit-border-top-left-radius: 0;
    border-top-left-radius: 0;
    -moz-border-radius-topright: 0;
    -webkit-border-top-right-radius: 0;
    border-top-right-radius: 0;
}
#sidebar nav h1,
#sidebar nav p,
#sidebar nav li,
#sidebar nav a {
    color: #DDD;
}
#sidebar nav a:hover,
#sidebar nav a:focus {
    color: #BBB;
}
#nav-results select {
    margin-top: 0.2em;
    font-size: 1.5em;
}
#nav-tools li {
    display: inline;
    margin-left: 0;
    margin-right: 0.6em;
    font-size: 1.5em;
}
#live-blog iframe {
    display: none;
}
body.javascript-enabled #live-blog iframe {
    display: block;
}
#meta {
    padding-top: 5.0em;
    padding-bottom: 3.0em;
}
#meta nav {
    margin-bottom: 1.6em;
}
#meta ul,
#meta ol,
#meta p,
#meta li {
    margin-top: 0.2em;
}
#meta p,
#meta li {
    font-size: 1.2em;
    line-height: 1.2;
}
#meta li {
    display: inline;
    margin-left: 0.2em;
    margin-right: 0.2em;
    list-style: none;
}
@media all and (min-height: 875px) and (min-width: 991px) {
    body.javascript-enabled #sidebar {
        position: fixed;
        margin-left: 610px;
    }
}
@media all and (max-width: 990px) {
    #introduction .channel-17-town-meeting-television-logo {
        display: block;
    }
    #introduction,
    #live-broadcast,
    #results,
    #sidebar,
    #meta {
        width: auto;
        float: none;
        clear: none;
    }
    #sidebar nav {
        display: none;
    }
    #sidebar .channel-17-town-meeting-television-logo {
        display: none;
    }
}
