body {
    background-color: #EEE;
    font-family: Arial, sans-serif;
    font-size: 62.5%;
    color: black;
    text-align: center;
}
h1,
p,
ul,
ol,
dl,
table,
img {
    margin-top: 1.0em;
}
h1,
p,
li,
dt,
dd,
th,
td {
    font-size: 1.6em;
    line-height: 1.4;
}
h1,
h1 a {
    color: #333;
}
h1 {
    font-size: 1.8em;
    font-weight: bold;
}
h1 a {
    text-decoration: none;
}
h1 a:hover,
h1 a:focus {
    text-decoration: underline;
}
li,
dt,
dd {
    margin-top: 0.5em;
}
li {
    margin-left: 0.5em;
    list-style-position: inside;
}
ol li {
    list-style-type: decimal;
}
ul li {
    list-style-type: disc;
}
li ul,
li ol {
    margin-top: 0;
}
li li {
    font-size: 1.0em;
}
th,
td {
    padding: 0.4em;
    border: 1px solid #888;
    border-top: none;
    border-left: none;
}
th:last-child,
td:last-child {
    border-right: none;
}
th {
    font-size: 1.2em;
    color: #555;
}
tr:last-child td {
    border-bottom: none;
}
a {
    color: #333;
    text-decoration: underline;
}
a:hover,
a:focus {
    color: #222;
}
strong {
    font-weight: bold;
}
em {
    font-style: italic;
}
#page {
    width: 960px;
    overflow: hidden;
    margin: 0 auto;
    background-color: white;
}
#introduction,
#live-broadcast,
#results,
#sidebar,
#meta {
    overflow: hidden;
    padding: 0 1.0em;
    _padding-left: 9px;
    _padding-right: 9px;
}
#introduction,
#live-broadcast,
#results {
    width: 590px;
    float: left;
}
#introduction,
#live-broadcast,
#results,
#meta {
    clear: both;
}
#introduction {
    text-align: left;
}
#introduction h1 {
    font-size: 4.6em;
}
#sidebar {
    width: 330px;
    padding-bottom: 1.0em;
    background-color: #DDD;
}
#channel-17-town-meeting-television-logo {
    width: 260px;
    height: 71px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background: transparent url(/images/channel-17-town-meeting-television-260x71.png) no-repeat center center;
    text-indent: -999em;
}
#meta {
    padding-top: 5.0em;
    padding-bottom: 3.0em;
    font-size: 0.8em;
}
#meta nav {
    margin-bottom: 1.6em;
}
#meta ul,
#meta ol,
#meta p,
#meta li {
    margin-top: 0.2em;
}
#meta p,
#meta li {
    line-height: 1.2;
}
#meta li {
    display: inline;
    margin-left: 0.2em;
    margin-right: 0.2em;
    list-style: none;
}
